
#div1{
    height: 200px;
    width: 200px;
/*    background-color: red;*/
    background-color: #393a7b;
/*    background-color: rgb(25, 126, 200);*/
/*    background-color: rgb(25, 126, 200, 1);*/
/*    background-color: hsl();*/
}