#div1 {
  height: 40px;
  width: 250px;
  position: relative;
  top: 100px;
  left: 100px;
  font-size: 30px;
  border: solid black;
  border-width: 3px 0px 3px 0px;
  text-align: center;
  padding: 5px;
}
