
.styled-first-letter::first-line{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

p{
    background-color: lightgrey;

}

p::before{
    content: 'Before';
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

p::after{
    content: 'After';
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}